/*

 Josh's Custom CSS Reset

  https://www.joshwcomeau.com/css/custom-css-reset/

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  place-self: center;
  display: grid;
  width: 100%;
  gap: 20px;
  padding: 5%;
  min-height: 70dvh;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
}
#root section {
  padding: 5%;
  background-color: burlywood;
  flex-direction: column;
  display: flex;
  gap: 20px;
}
#root section form {
  display: flex;
  flex-direction: column;
}
#details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
section div {
  padding: 3%;
  display: flex;
  column-gap: 10px;
}
button {
  place-self: center;
  width: 100px;
}
#root > div {
  padding: 5%;
  display: flex;
  column-gap: 100px;
  background-color: turquoise;
}
