/*  

 Josh's Custom CSS Reset

  https://www.joshwcomeau.com/css/custom-css-reset/

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}
img,
picture,
video,
canvas,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  place-self: center;
  min-width: 90dvh;
  width: 100%;
  height: 100dvh;
  display: flex;
  place-items: center;
  padding: 5%;
  background-color: white;
}
form fieldset {
  width: 100%;
  height: max(50%, 50dvh);
  display: flex;
  flex-direction: column;
}
#root section {
  padding: 2%;
  place-content: center;
  background-color: burlywood;
  height: min(100dvh, 100% - 1rem);
  grid-template-columns: repeat(3, 29dvw);
}
section > div {
  display: flex;
  flex-direction: column;
  place-items: center;
  grid-column: 2/4;
  height: 70dvh;
}
.contactContainer {
  display: flex;
  padding: 3%;
  column-gap: 10px;
  place-items: center;
  flex-direction: row;
}
section div fieldset {
  padding: 1%;
  overflow-y: scroll;
  height: 100%;
}
section form {
  place-content: center;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}
#nameAndPersonal {
  grid-column: 1/2;
  grid-row: 3/5;
}
h1 {
  grid-column: 1/2;
  grid-row: 1/3;
  place-self: center;
}
#contactDetails {
  grid-column: 1/2;
  grid-row: 5/7;
}
#education {
  grid-column: 2/4;
  grid-row: 1/4;
}
#work {
  grid-column: 2/4;
  grid-row: 4/7;
}
#details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
button {
  place-self: center;
  width: 100px;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
#root > div {
  position: absolute;
  width: 80dvw;
  min-height: 70dvh;
  top: 15%;
  right: 10%;
  background-color: turquoise;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

preview div:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/2;
}
preview div:nth-child(2) {
  grid-row: 3/6;
  grid-column: 1/2;
}
preview div:nth-child(3) {
  grid-row: 1/6;
  grid-column: 2/3;
  background-color: green;
}
h2 {
  font-size: 2.5rem;
}
#job {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#school {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#schSubForm {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
#jobSubForm {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
form {
  gap: 3%;
}
fieldset {
  border-color: maroon;
  border-radius: 10px;
  width: min(1000px, 100% - 3rem);
}
table {
  background-color: gray;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  place-content: center;
  padding: 1%;
}
tbody tr:nth-child(odd) {
  background-color: gray;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}
input {
  max-width: 180px;
  width: min(100%, 30dvw);
  background-color: inherit;
  border: none;
  border-bottom: 2px black solid;
  text-align: center;
}
input[date] {
  max-width: 10px;
}
h1 {
  padding-left: 4%;
  flex-direction: column;
  display: flex;
  margin-top: 3%;
  font-size: 3rem;
}

/* TODO: ffs, place these properly*/

#addWorkRow {
  left: 1%;
}
#addEducationRow {
  left: 25%;
}

h2 {
  padding: 2%;
}
h3 {
  display: flex;
  place-items: center;
  padding: 2%;
  padding-left: 5%;
  column-gap: 20px;
}

@media (max-width: 800px) {
  section {
  }
}
